.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
.wrap {
    display: flex;
    flex-direction: column;
    box-shadow: 0 12px 50px rgba(0, 26, 67, 0.05);
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 20px;
  }
.input {
    background: #f6faff;
    border-radius: 12px;
    padding: 10px 16px;
    border: none;
    margin-right: 8px;
    color: #96afc7;
    margin-bottom: 10px;
  }
select {
    margin-bottom: 10px;
}