.button {
    width: 40px;
    height: 40px;
    background-image: url('../../../assets/icons/cart-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3366FF;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}