.item {
    padding: 29px 11px 15px;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
}

.item__img {
    width: 228px;
    height: 130px;
}
.item__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    max-width: 165px;
    margin: 38px 3px 12px; 
}


