.sidebar {
    border-left: 1px solid #CFCFCF;
    height: 100%;
    min-width: 410px;
}
.sidebar__container {
    padding: 40px 40px 0;
}
.sidebar__container:first-of-type {
    border-bottom: 1px solid #CFCFCF;
}
.sidebar__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 0 0 30px;
}
.sidebar__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar__field {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #000000;
    margin: 0;
}
.sidebar__field_main {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    color: #000000;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .sidebar {
        border-left: none;
        
    }
}